streamlit
langchain
langchain-community
langchain-text-splitters

PyPDF2
python-dotenv

faiss-cpu
sentence-transformers

google-generativeai

tiktoken
transformers
torch

numpy
altair

protobuf==3.20.3

# uncomment to use huggingface llms
# huggingface-hub==0.14.1
